html {
  padding: 0pt;
  margin: 0pt;
}

body {
  padding: 0.1em 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
}

h1 {
  font-family: sans-serif;
  font-size: 1.5em;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
}

footer {
  font-style: italic;
}

/* make links a little prettier */
a {
  color: #33a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a h1 {
  color: black;
}

/* index styles */
span.blog-post-date:after {
  content: " - ";
}
a.blog-article {
  display: block;
}
a.blog-article:after {
  content: "(Read more...)";
}

/* Images should always fit to the width of the text. */
img, video {
  width: 100%;
  display: block;
}

/* Make the zoom level look okay on mobile.
 *
 * Note: We still need to inlcude a "meta" tag for browsers that do
 *       not support the CSS directive.
 *
 * See:
 * http://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972
 */
@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

/* IndieWeb Notes
 * https://indieweb.org/note
 *
 * Notes should preserve whitespace and line-breaks.
 */
.h-entry .p-name.p-content {
  white-space: pre-wrap;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 2px solid lightgray;
}

/* Make pixel art look more pixel-ly
 * See:
 * http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas
 * http://jsfiddle.net/VAXrL/21/
 *
 * image-rendering: optimize-contrast; is the only line specified in the CSS3 standard
 * working draft.
 */
.pixel-art {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

img.icon {
  width: 1em;
  display: inline;
}
