
/* Make pixel art look more pixel-ly
 * See:
 * http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas
 * http://jsfiddle.net/VAXrL/21/
 *
 * image-rendering: optimize-contrast; is the only line specified in the CSS3 standard
 * working draft.
 */
.pixel-art {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
