html {
    padding: 0pt;
    margin: 0pt;
}

body {
    padding: 0.1em 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}

h1 {
    font-family: sans-serif;
    font-size: 1.5em;
}

footer {
    margin: 4em 0em;
}

/* make links a little prettier */
a {
    color: #337;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a h1 {
    color: black;
}

/* index styles */
span.blog-post-date:after {
    content: " - ";
}
a.blog-article {
    display: block;
}
a.blog-article:after {
    content: "..."; 
}

