{% extends "skeleton/_body.html" %}
{%hyde
    title: "Software and Web Developer, Student"
    created: 2010-04-18 21:21:00
    listing: True
%}

{% block content_body %}

<h2>Recent Posts</h2>

{%recent_posts recents 5 %}
<ul>
{%for post in recents %}
<li>
<h3><a href='{{post.url}}'>{{post.title}}</a> {{post.created}}</h3>
    <div class="page-excerpt">
        {% render_excerpt post %}
    <span class="page-excerpt-footer">
        Read More: <a href='{{post.url}}'>{{post.title}}</a>
    </span>
    </div>
</li>
{%endfor%}
</ul>
{%endblock%}
