{% extends "_about.html" %}
{%hyde
    title: "About"
%}
{% block article %}

{% markdown %}
My name is Tim Swast. I am currently a junior at the University of
Wisconsin—Madison, studying Computer Science with a certificate in
Mathematics. I have been coding for a rather long time, and I will continue
to do so for the foreseeable future.

Among my other interests is Amateur Radio (my callsign is KC9OOE). I especially
enjoy going out on the Badger Amateur Radio Society's biannual "foxhunts."
Other than that, I usually just hang out on two meters.
{% endmarkdown %}
    
{% endblock %}





