{% for year, year_entrys in entries|groupby('published.year')|sort(reverse=True) %}
<h2>{{ year }}</h2>
<ul>
{% for entry in year_entrys|sort(attribute='published', reverse=True) %}
  <li class="h-entry">
    <a href="{{ entry.path }}" class="u-url"><time class="dt-published"
    datetime="{{ entry.published.strftime('%Y-%m-%d') }}">{{ entry.published.strftime('%B %-d') }}</time>
    - <span class="p-name{%
    if entry.name == entry.content %} p-content{%
    endif %}">{{ entry.name }}</span></a>
  </li>
{% endfor %}
</ul>
{% endfor %}
