{% for year, year_posts in posts|groupby('date.year')|sort(reverse=True) %}
<h2>{{ year }}</h2>
<ul>
{% for post in year_posts|sort(attribute='date', reverse=True) %}
  <li class="h-entry">
    <a href="{{ post.path }}" class="u-url"><time class="dt-published"
    datetime="{ post.date.strftime('%Y-%m-%d') }}">{{ post.date.strftime('%B %-d') }}</time>
    - <span class="p-name">{{ post.title }}</span></a>
  </li>
{% endfor %}
</ul>
{% endfor %}
