{% extends "skeleton/_body.html" %}
{%hyde
    title: "Résumé"
    created: 2010-04-18 21:28:00
    listing: True
%}

{% block content_body %}
{% restructuredtext %}

Work Experience
===============
Applied Tribology (Byron, WI) 
-----------------------------
Software Developer (By contract from June 2005)

* Developed engineering programs used for research and development.
* Refactored legacy engineering programs from BASIC to Python.
* Created GUI for legacy TrueBASIC programs.

Logos Bible Software (Bellingham, WA)
-------------------------------------
Software Development Intern (Summer 2008 & 2009)

* Developed the C#/WPF application, Logos Bible Software 4.
* Worked with a team of developers in design and development. 
* Created unit tests for critical parts of software architecture.

Brunswick — Mercury Marine (Fond du Lac, WI)
---------------------------------------------
Software Development Co-op (July 2006 to August 2007)

* Provide development services to Design and Engineering department.
* Worked closely with a small team of developers.
* Interfaced with Oracle database to develop web applications from scratch.


Education
=========
University of Wisconsin—Madison
-------------------------------
:Location: Madison, WI
:Attended: Spring 2008—Present (May 2011 Graduation)
:Studied: Computer Science and Mathematics
:Overall GPA: 3.89/4.00

University of Wisconsin—Fond du Lac
-----------------------------------
:Location: Fond du Lac, WI
:Attended: Fall 2008
:Studied: General Education Courses 
:Overall GPA: 4.00/4.00 

Carnegie Mellon University
--------------------------
:Location: Pittsburgh, PA
:Attended: Fall 2007—Spring 2008
:Studied: Electrical and Computer Engineering
:Overall GPA: 4.00/4.00


Relevant Courses
================
* CS 559: Computer Graphics
* CS 367: Intro. to Data Structures
* Math 240: Discrete Mathematics
* Math 435: Cryptography


Volunteer Work
==============
Sugar Plotter Activity
----------------------
NEST Software Competition Team Leader (Fall 2009-Spring 2010)

* Worked with two other developers in software development.
* Coordinated open-source development (https://launchpad.net/sugar-plotter-activity).

One Laptop Per Child—Madison Chapter
------------------------------------
Technical Specialist (Fall 2009-Present)

* Updated software and operating system for laptops.
* Maintained laptop hardware, and coordinated needed repairs.
* Maintained an inventory of laptops and parts.

Blackhawk Church College Age Ministry
-------------------------------------
Web developer (2009)

* Created new backend code to create significantly less code duplication.
* Created "pretty urls" to hide '.php' from users.
* Worked with two other developers in updating site as needed.

Fondy Fire (FIRST Robotics Team)
--------------------------------
Software Team Leader (2007)

* Developed embedded code used to control the robot.
* Designed and coded the team website.
* Trained less-experienced students in software development.
* Documented more advanced topics to benefit others.
* See http://www.firstwiki.net/index.php/Using_the_USB_chicklet


Skills
======
Programming Languages
---------------------
* Python
* C#
* C/C++
* ColdFusion
* PHP
* JavaScript
* Java

Technologies
------------
* SQL and ORM databases
* AJAX
* Windows Presentation Framework (WPF)
* wxPython
* matplotlib

Operating Systems
-----------------
* Windows XP/Vista
* MacOS X
* Linux

Software
--------
* Microsoft Office (COM)
* Visual Studio 2008, Eclipse, Dreamweaver
* Subversion, Bazaar
* FogBugz


Honors
======
Facebook Hackathon at Wisconsin (September 2010)
------------------------------------------------
Grand Prize for SoundBrush.

NEST for Emerging Technogies Competition (Spring 2010)
------------------------------------------------------
3rd Place overall
Wisconsin Idea Prize (most benefit to society)

* Dean's List, University of Wisconsin—Madison: Spring 2010
* Dean's List, University of Wisconsin—Madison: Spring 2009
* Dean's List, High Honors, UW—Fond du Lac: Fall 2008
* Dean's List, Carnegie Institute of Technology: Fall 2007
* Dean's List, Carnegie Institute of Technology: Spring 2008


{% endrestructuredtext %}
{% endblock %}

